<div id="<%= dom_id clock %>">
  <p>
    <strong>Project:</strong>
    <%= clock.project.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= clock.user.nickname %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= clock.comment %>
  </p>

   <p>
    <strong>Tempo:</strong>
    <%= clock.tempo %>
  </p>



</div>
